<form (ngSubmit)="onSubmit()">
  <h1>Assign Participant to Training Session</h1>
  <mat-form-field>
    <mat-label>Select Division</mat-label>
    <mat-select [(ngModel)]="selectDepartment" [ngModelOptions]="{standalone: true}" (ngModelChange)="openParticipants()">
      @for (division of divisions(); track division) {
        <mat-option [value]="division">{{ division }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select Program</mat-label>
    <mat-select [(ngModel)]="selectedProgram" [ngModelOptions]="{standalone: true}">
      @for (program of programs(); track program) {
        <mat-option [value]="program">{{ program.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Select Participant</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Participant"
      matInput
      [matAutocomplete]="auto"
      [ngModelOptions]="{standalone: true}"
      [(ngModel)]="selectedParticipant"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayParticipant">
      @for (participant of participants(); track participant.id) {
        <mat-option [value]="participant">{{ participant.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select Session</mat-label>
    <mat-select [(ngModel)]="selectedSession" [ngModelOptions]="{standalone: true}">
      @for (session of sessions(); track session.id) {
        <mat-option [value]="session.id">{{ session.name }} - {{ session.time_slot }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div class="example-button-row">
    <button matButton="outlined" type="button" (click)="onClose()">Cancel</button>
    <button matButton="tonal" type="submit" [disabled]="assignmentForm().invalid()">Assign Employee</button>
  </div>
</form>
